@keyframes grow {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 100vh;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0%;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0rem);
  }
}
@keyframes fade-in-down-reverse {
  0% {
    opacity: 100%;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0%;
    transform: translateY(-2rem);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0%;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 100%;
    transform: translateX(0rem);
  }
}
@keyframes fade-in-right-reverse {
  0% {
    opacity: 100%;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0%;
    transform: translateX(-3rem);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0%;
    transform: translateX(100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes fade-in-left-reverse {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }
  100% {
    opacity: 0%;
    transform: translateX(100%);
  }
}
* {
  box-sizing: border-box;
  font-family: "Rubik";
  color: #6743bb;
}

.inactive {
  display: none !important;
}

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.high-priority {
  background-color: rgba(255, 255, 255, 0.603) !important;
  background-image: linear-gradient(-45deg, rgba(248, 54, 0, 0.267), rgba(249, 213, 35, 0.514)) !important;
}

option {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(45deg, #b993d6, #8ca6db);
}

.backdrop {
  background-image: linear-gradient(45deg, #ffffff8e, #ffffff52 30%, #ffffffa8 30%, #ffffff3b 32%, #ffffff3b 32%, #ffffff0a 90%, #ffffffa8 90%, #ffffff09 92%, #ffffff00);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  animation: fade-in 1s;
}

.mobile-backdrop {
  background-image: linear-gradient(45deg, #ffffff8e, #ffffff52 30%, #ffffffa8 30%, #ffffff3b 32%, #ffffff3b 32%, #ffffff0a 90%, #ffffffa8 90%, #ffffff09 92%, #ffffff00);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: fade-in 1s;
}

button {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  width: 5rem;
  padding: 0.3rem;
  font-size: 0.8rem;
}

input,
select,
option {
  background-color: rgba(255, 255, 255, 0.603);
}

nav {
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  height: 8rem;
}

nav img {
  min-width: 6rem;
  width: 6rem;
  margin-left: 1rem;
}

.mobile-menu {
  display: none;
}

.nav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: clamp(8rem, 80%, 25rem);
  margin-top: 0.6rem;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
  border-radius: 14px;
  transition: height;
  width: 8rem;
}

.wrapper button {
  background: transparent;
  width: 8rem;
}

.filters-container,
.add-project__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.603);
  animation: grow 1.5s;
  overflow: hidden;
  width: 90%;
}
.filters-container button,
.add-project__container button {
  color: rgba(255, 255, 255, 0.877);
}
.filters-container .add-project_btn,
.add-project__container .add-project_btn {
  color: #6743bb;
}

.add-project__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.5rem;
}
.add-project__form input {
  width: 90%;
  margin: auto;
}
.add-project__form button {
  color: #6743bb;
}
.add-project__form .buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem 0;
  width: 100%;
}
.add-project__form .buttons-container button {
  width: 3rem;
  padding: 0;
  font-weight: normal;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 18rem);
  margin-top: 10rem;
}

.page-title__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.603);
  margin-bottom: 1.5rem;
  padding-bottom: 0.3rem;
}
.page-title__container h2 {
  font-family: Pacifico;
  color: rgba(255, 255, 255, 0.877);
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
}
.page-title__container .delete-project__btn {
  background-color: #f01d5d;
  color: rgba(255, 255, 255, 0.877);
  position: absolute;
  right: -6rem;
  top: 1rem;
  width: 4rem;
}

.add-task__btn {
  width: 5rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
  padding: 0.5rem 0;
}

.add-task__form {
  position: absolute;
  z-index: 50;
  top: 30vh;
  animation: fade-in-down 0.8s;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  width: clamp(10rem, 90%, 50rem);
  box-shadow: -2px 2px rgba(255, 255, 255, 0.466);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
  padding: 1rem;
  border-radius: 15px;
}

main form div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/3;
}

main form button {
  background-color: transparent;
  width: 5rem;
  margin-top: 1rem;
}

input,
main select {
  height: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

label {
  text-align: center;
  font-size: 0.9rem;
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

button:hover {
  color: #f01d5d !important;
}

.page-title__container button:hover {
  color: #6743bb !important;
}

.list-container {
  width: 100%;
  height: 100%;
}

.list-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline-start: 0;
  width: 100%;
  height: 100%;
}

li {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto auto;
  width: clamp(10rem, 90%, 50rem);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
  border-radius: 20px;
}

.task-title {
  margin-right: 0.4rem;
  font-size: 1.3rem;
}

.task-date {
  font-size: 0.9rem;
  font-weight: bold;
}

.delete-task__btn {
  position: absolute;
  right: 1.2rem;
  top: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.603);
  width: 1.2rem;
  height: 1.2rem;
  background-image: none;
  background-color: transparent;
}

li h2,
li p {
  margin: 0 1rem 0 0;
}

.task-description {
  width: clamp(4rem, 75%, 45rem);
  overflow: auto;
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    cursor: pointer;
    height: 1.4rem;
  }
  .mobile-menu div {
    width: 0.7rem;
    height: 0.7rem;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.349));
    border-radius: 50%;
    margin-right: 0.3rem;
  }

  .nav-buttons {
    animation: fade-in-left 0.8s;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    width: clamp(10rem, 50vw, 40rem);
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.753);
  }

  .nav-buttons button {
    font-size: 1.2rem;
  }

  .nav-buttons > button {
    margin-top: 5rem;
  }

  .nav-buttons > div {
    margin-top: 3rem;
    background-color: transparent;
    background-image: none;
  }

  .nav-buttons button {
    background-color: transparent;
    background-image: none;
  }

  .wrapper {
    width: 80%;
  }

  .filters-container button,
.projects-container button {
    color: #9d5cc4;
    font-size: 1.1rem;
  }

  .add-project__container button {
    font-size: 1rem;
  }

  .filters-container,
.add-project__container {
    border-top: 1px solid rgba(103, 67, 187, 0.603);
  }
}

/*# sourceMappingURL=main.css.map */
