* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #6743bb;
}

.inactive {
  display: none !important;
}

.high-priority {
  background-color: rgba(255, 255, 255, 0.603) !important;
  background-image: linear-gradient(-45deg, rgba(248, 54, 0, 0.267), rgba(249, 213, 35, 0.514)) !important;
}

option {
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(45deg, #B993D6, #8CA6DB);
}

button {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.267));
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  width: 5rem;
  padding: 0.3rem;
  font-size: 0.8rem;
}

input,
select,
option {
  background-color: rgba(255, 255, 255, 0.603);
}

nav {
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  height: 8rem;
}

nav h1 {
  color: rgba(255, 255, 255, 0.877);
  margin: 0;
}

.nav-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: clamp(18rem, 40%, 25rem);
}

.wrapper {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.267));
  border-radius: 14px;
  width: 5rem;
}

.wrapper button {
  background: transparent;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.add-task__btn {
  width: 5rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.267));
  padding: 0.5rem 0;
}

.add-task__form {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  width: clamp(10rem, 90%, 50rem);
  box-shadow: -2px 2px rgba(255, 255, 255, 0.466);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.267));
  padding: 1rem;
  border-radius: 15px;
}

main form div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/3;
}

main form button {
  background-color: transparent;
  width: 5rem;
  margin-top: 1rem;
}

main input,
main select {
  height: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

label {
  text-align: center;
  font-size: 0.9rem;
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

.list-container {
  width: 100%;
}

.list-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline-start: 0;
  width: 100%;
}

li {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 5rem;
  grid-template-rows: 2rem 1.5rem;
  grid-template-areas: "TITLE DATE" "DESCRIPTION DESCRIPTION";
  width: clamp(10rem, 90%, 50rem);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.267));
  border-radius: 20px;
}

.task-title {
  grid-area: TITLE;
}

.task-description {
  grid-area: DESCRIPTION;
}

.task-date {
  grid-area: DATE;
  justify-self: end;
}

.delete-task__btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  transform: translate(0.6rem, -0.6rem);
}

li h2,
li p {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
