* {
  box-sizing: border-box;
}

.inactive {
  display: none !important;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: clamp(10rem, 30%, 20rem) 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "HEADER HEADER" "NAV MAIN";
  margin: 0;
  color: #353d40;
  width: 100%;
  height: 100vh;
}

button {
  font-weight: bold;
  border: none;
  cursor: pointer;
}

header {
  grid-area: HEADER;
  background-color: #1b1b1b;
  color: #f2f2f2;
  padding-left: 3rem;
}

nav {
  grid-area: NAV;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #404040;
  color: #f2f2f2;
}

nav h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1rem;
}

nav button {
  background-color: #404040;
  color: #f2f2f2;
  border-radius: 5px;
  width: clamp(6rem, 80%, 20rem);
  margin-top: 1rem;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav button:hover,
nav button:focus {
  background-color: #1b1b1b;
}

main {
  grid-area: MAIN;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f2f2f2;
}

.add-task__btn {
  width: 5rem;
  background-color: #404040;
  color: #f2f2f2;
  padding: 0.5rem 0;
  border-radius: 15px;
}

main form {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  width: clamp(10rem, 90%, 50rem);
  box-shadow: 0px 2px 6px #0d0d0d;
  background-color: #404040;
  padding: 1rem;
  border-radius: 15px;
}

main form div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/3;
}

main form button {
  background-color: #f2f2f2;
  color: #353d40;
  border-radius: 15px;
  width: 5rem;
  margin-top: 1rem;
}

main input,
main select {
  height: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

label {
  color: #f2f2f2;
  text-align: center;
}

main input {
  background-color: #f2f2f2;
}

#form-priority {
  color: #f2f2f2;
  background-color: #003f63;
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

option {
  cursor: pointer;
}

option[value=normal] {
  color: #f2f2f2;
  background-color: #003f63;
}

option[value=high] {
  color: #353d40;
  background-color: #f2b138;
}

.list-container {
  width: 100%;
}

.list-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline-start: 0;
  width: 100%;
}

li {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 5rem;
  grid-template-rows: 2rem 1.5rem;
  grid-template-areas: "TITLE DATE" "DESCRIPTION DESCRIPTION";
  width: clamp(10rem, 90%, 50rem);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 6px #0d0d0d;
  border-radius: 20px;
}

.task-title {
  grid-area: TITLE;
}

.task-description {
  grid-area: DESCRIPTION;
}

.task-date {
  grid-area: DATE;
  justify-self: end;
}

.delete-task__btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  transform: translate(0.6rem, -0.6rem);
}

li h2,
li p {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
