$background-gradient: linear-gradient(45deg, #B993D6, #8CA6DB);
$backdrop-gradient: linear-gradient(45deg, #ffffff8e, #ffffff52 30%, #ffffffa8 30%, #ffffff3b 32%, #ffffff3b 32%, #ffffff0a 90%, #ffffffa8 90%, #ffffff09 92%, #ffffff00);
$hp-background: linear-gradient(-45deg, rgba(248, 54, 0, 0.267), rgba(249, 213, 35, 0.514));
$input-background: rgba(255, 255, 255, 0.603);
$glass-gradient: linear-gradient(45deg, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0.178));
$dark-font: rgb(103, 67, 187);
$light-font: rgba(255, 255, 255, 0.877);
$normal-priority: #003f63;
$shadow: -2px 2px rgba(255, 255, 255, 0.466);
$border: 1px solid rgba(255, 255, 255, 0.603);

$primary-color: #f2f2f2;
$secondary-color: #1b1b1b;
$third-color: #404040;
$primary-font-color: #353d40;
$secondary-font-color: #f2f2f2;
$normal-priority-color: #003f63;
$high-priority-color: #f2b138;

@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// -----------------------------------EFFECTS

@keyframes grow {
  0%{
    max-height: 0px;
  }100%{
    max-height: 6rem;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0%;
  }100% {
    opacity: 100%;
  }
}

@keyframes fade-in-down {
  0%{
    opacity: 0%;
    transform: translateY(-2rem);
  }100% {
    opacity: 100%;
    transform: translateY(0rem);
  }
}

@keyframes fade-in-right {
  0%{
    opacity: 0%;
    transform: translateX(-3rem);
  }100% {
    opacity: 100%;
    transform: translateX(0rem);
  }
}

// -----------------------------------STYLE

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: $dark-font;
}

.inactive {
  display: none !important;
}

.high-priority{
  background-color: $input-background !important;
  background-image: $hp-background !important;
}

option {
  cursor: pointer;
}

body {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: $background-gradient;
}

.backdrop {
  background-image: $backdrop-gradient;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: fade-in 1s;
}

button {
  background: $glass-gradient;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  width: 5rem;
  padding: 0.3rem;
  font-size: 0.8rem;
}

input,
select,
option {
  background-color: $input-background;
}

nav {
  position: absolute;
  top: 0;
  z-index: 1;
  @include display-flex();
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  height: 8rem;
}

nav h1 {
  color: $light-font;
  margin: 0;
}

.nav-buttons{
  @include display-flex();
  align-items: flex-start;
  justify-content: space-around;
  width: clamp(18rem, 40%, 25rem);
}

.wrapper {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  background-image: $glass-gradient;
  border-radius: 14px;
  width: 5rem;
  transition: height;
}

.wrapper button {
  background: transparent;
}

.filters-container,
.add-rm-project__container {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  border-top: $border;
  animation: grow 0.3s;
  overflow: hidden;
  width: 90%;
  
  button {
    color: $light-font;
  }
}

.buttons-container {
  @include display-flex();
  width: 100%;

  button {
    font-size: 0.6rem;
  }
}

main {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.add-task__btn {
  width: 5rem;
  background-image: $glass-gradient;
  padding: 0.5rem 0;
}

.add-task__form {
  position: absolute;
  z-index: 3;
  top: 30vh;
  animation: fade-in-down 0.8s;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  row-gap: 0.8rem;
  column-gap: 0.5rem;
  width: clamp(10rem, 90%, 50rem);
  box-shadow: $shadow;
  background-image: $glass-gradient;
  padding: 1rem;
  border-radius: 15px;
}

main form div {
  @include display-flex();
  align-items: center;
  justify-content: space-around;
  grid-column: 1 / 3;
}

main form button {
  background-color: transparent;
  width: 5rem;
  margin-top: 1rem;
}

main input,
main select {
  height: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

label {
  text-align: center;
  font-size: 0.9rem;
}

input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

.list-container {
  width: 100%;
}

.list-container ul {
  @include display-flex();
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline-start: 0;
  width: 100%;
}

li {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto auto;
  grid-template-rows: 2rem 1.5rem;
  grid-template-areas:
    "TITLE DATE"
    "DESCRIPTION DESCRIPTION";
  width: clamp(10rem, 90%, 50rem);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-image: $glass-gradient;
  border-radius: 20px;
}
 
.task-title {
  grid-area: TITLE;
}

.task-description {
  grid-area: DESCRIPTION;
}

.task-date {
  grid-area: DATE;
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

.delete-task__btn {
  position: absolute;
  right: 1.2rem;
  top: center;
  border-radius: 5px;
  border: $border;
  width: 1.3rem;
  height: 1.3rem;
  background-image: none;
  background-color: transparent;
}

li h2,
li p {
  margin: 0;
}

